/* Estilo para la imagen del meteorito */
.small-meteorito {
    width: 100px; /* Establece el ancho deseado en píxeles */
    height: 100px; /* Establece el alto deseado en píxeles */
}

/* Estilos personalizados */
body {
    background-image: url('planetas.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.planet-container {
    text-align: center;
    position: relative;
}

.planet-image,
.free-fall-image {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.free-fall-image {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

/* Estilos para el botón */
#simulateButton {
    margin-top: 10px;
}

/* Estilos para los elementos de la simulación */
.simulation-element {
    color: white; /* Color blanco para los elementos de la simulación */
}
